#edit-product-title{
  margin-top: 25px;
  margin-left: 25px;
  font-size: large;
}

#edit-product-details{
  margin-top: 25px;
  margin-left: 25px;
  font-size: small;
  color: #71A7EC;
}

#edit-product-button-edit{
  color: #71A7EC;
  border-radius: 10px 10px 10px 10px;
  margin-left: 110px;;
}
