<div style="display: inline">

  <div>
    <div>
      <a [routerLink]="['/save-product']">
        <button mat-raised-button
                id="product-list-save-button">Create
        </button>
      </a>

    </div>
    <div id="product-list">
      <h1 id="product-list-title" *ngIf="showProducts === false">{{title}}</h1>
    </div>
  </div>

  <div>

    <table *ngIf="products.length"
           mat-table
           class="product-list-table"
           [dataSource]="products">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td id="product-list-id-{{product.productId}}" mat-cell *matCellDef="let product">{{product.productId}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td id="product-list-name-{{product.productName}}" mat-cell *matCellDef="let product">
            <a id="product-list-data-name" [routerLink]="['/products', product.productId]">{{product.productName}}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td id="product-list-price-{{product.productId}}" mat-cell *matCellDef="let product">{{product.productPrice}}</td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef>Weight</th>
          <td id="product-list-weight-{{product.productId}}" mat-cell *matCellDef="let product">{{product.productWeight}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let product">
            <a [routerLink]="['/products-edit', product.productId]">
              <button mat-mini-fab
                      class="buttons-edit"
                      id="product-list-edit-button-{{product.productId}}"
                      (click)="changeProductListColor() ">
                <mat-icon>edit</mat-icon>
              </button>
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let product">
            <button mat-mini-fab
                    class="buttons-delete"
                    id="product-list-delete-button-{{product.productId}}"
                    (click)="deleteProduct(product.productId)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr id="product-list-row-{{product.productId}}" mat-row *matRowDef="let product;columns:displayedColumns"></tr>

    </table>

  </div>

  <div>
    <button mat-raised-button
            id="product-list-get-button" (click)="getProducts()">{{getButtonName}}</button>
  </div>


  <div>
    <router-outlet></router-outlet>
  </div>

</div>
