<div style="display: inline">

  <div id="product-list-title">
    <ul id="save-product">
      <li>
        <a routerLink='/save-product'>Save Product</a>
      </li>
    </ul>
    <h1 *ngIf="showProducts === false">{{title}}</h1>
  </div>

  <div>
    <table class="product-list-table"
           *ngIf="products.length">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Weight</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let product of products'>
        <td>{{product.productId}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.productPrice | currency: 'EUR'}}</td>
        <td>{{product.productWeight | groceryWeight: 'metric'}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="product-list-buttons">
    <button id="get-button" (click)="getProducts()">{{getButtonName}}</button>
  </div>

<div>
  <router-outlet></router-outlet>
</div>

</div>
