#product-list {
  color: #71A7EC;
  margin-left: 180.5px;
  margin-top: 10px;
}

.product-list-table {
  border-collapse: collapse;
  margin-left: 25px;
  min-width: 400px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
}

.product-list-table th {
  background-color: #71A7EC;
  padding: 12px 15px;
  border-bottom: 1px solid black;
  font-size: 15px;
  color: black;
}

.product-list-table td {
  padding: 12px 15px;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
  color: black;
}

.product-list-table tbody:nth-of-type(even) {
  background-color: red;
}

.product-list-table th,
.product-list-table td {
  padding: 12px 15px;
}

#product-list-data-name {
  text-decoration: none;
  color: black;
}


#product-list-get-button {
  background-color: #a6a6ff;
  color: black;
  border-radius: 10px 10px 10px 10px;
  margin-left: 180px;
  font-size: 15px;
  height: 35px;
}

#product-list-save-button {
  background-color: #a6a6ff;
  margin-top: 35px;
  border-radius: 10px 10px 10px 10px;
  border-color: white;
  color: black;
  height: 35px;
  width: 130px;
  margin-left: 180px;
}

#save-product {
  margin-left: 162px;
  margin-top: 30px;
}

.buttons-edit {
  background-color: #a6a6ff;
  width: 35px;
  height: 35px;
}

.buttons-delete {
  background-color: #71A7EC;
  width: 35px;
  height: 35px;
}

.buttons-edit mat-icon {
  color: black;
}

.buttons-delete mat-icon {
  color: black;
}

