#product-list{
  color:#71A7EC;
  margin-top: 5px;
  margin-left:135px;
}

.product-list-table {
  border-collapse: collapse;
  margin: 25px 0;
  margin-left:25px;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.product-list-table thead tr {
  background-color: #71A7EC;
  color: white;
  text-align: left;
  font-weight: bold;
}

.product-list-table th,
.product-list-table td {
  padding: 12px 15px;
}

.product-list-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.product-list-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.product-list-table tbody tr:last-of-type {
  border-bottom: 2px solid #71A7EC;
}

.product-list-table tbody tr.active-row {
  font-weight: bold;
  color: #71A7EC;
}

.product-list-get-button {
  margin-left: 180px;
}

#get-button {
  color: #71A7EC;
  border-radius: 10px 10px 10px 10px;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #71A7EC;
  font-size:20px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

#save-product {
  margin-left: 15px;
  margin-top: 30px;

}
