#div-one {
  margin-top: 20px;
  height: 655.1px;
  width: 100%;
  background-image: url('src/app/shared/Grocery-Store-Image.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 0 5px 0 black;
}

#welcome-title {
  font-family: sans-serif;
  margin-top: 10px;
  padding: 30px;
  color: #dddddd;
}

